<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<!-- 该文件是Hibernate的核心配置文件，主要作用：1.对数据库进行相关配置2.管理XXX.hbm.xml文件 -->
   <session-factory>
     <!--dialect配置所使用在数据库的方言，告诉Hibernate使用哪种类型在数据库  -->
     <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
     <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
     <property name="hibernate.connection.username">root</property>
     <property name="hibernate.connection.password">root</property>
     <property name="hibernate.connection.url"><![CDATA[jdbc:mysql://localhost:3306/dormitory?useUnicode=true&characterEncoding=utf8]]></property>
     <!-- 自动建表 -->
     <property name="hbm2ddl.auto">update</property>
     <property name="hibernate.current_session_context_class">thread</property>
      
     <!-- 显示sql语句 -->
     <property name="show_sql">true</property>
     <property name="format_sql">false</property>
     <!-- 管理XXX.hbm.xml文件 -->  
  
      <mapping resource="bean/buildingadmin.hbm.xml"/>  
     <mapping resource="bean/student.hbm.xml"/>   
     <mapping resource="bean/Buliding.hbm.xml"/>   
     <mapping resource="bean/Dormitory.hbm.xml"/>   
     <mapping resource="bean/LeaveSchool.hbm.xml"/>   
     <mapping resource="bean/Maintain.hbm.xml"/>   
     <mapping resource="bean/SleepRecords.hbm.xml"/>   
      <mapping resource="bean/Admin.hbm.xml"/>   
  </session-factory>
</hibernate-configuration>

